html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    width: 100%;
    min-width: 320px;
}

.h2-tilte {
    padding-top: 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: black !important;
    cursor: pointer;
}

a:hover {
    text-decoration: inherit !important;
}

/* header start*/

.top {
    background-color: #FED100;;
}

.nav-title {
    margin-top: 5vh;
    font-weight: 600;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5vh;

}

li.nav-item {
    margin-right: 37px;
    width: 207px;
    text-align: center;
}

.nav-tel {
    display: inline-block !important;
    border-bottom: 1px solid black;
    font-weight: 600 !important;
}

/* header end*/


/* jumbotron start*/

.jumbotron {
    background-color: inherit !important;
}

.jumbotron > p {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.loader {
    background: url("../img/loader.png") right no-repeat;
    width: 248px;
    height: 396px;
}

.btn-order_red  {
    color: #F2F2F2;
    background-color: #FF352B;
    border: none;
    height: 60px;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    transition: .4s;
}

.btn-order_red:hover {
    background-color:#d11104;
}

/* jumbotron end*/


/* how-it-works start*/


.how-it-works__list {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
}

.text-effect {
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    text-shadow: 2px 0px #fed100;
}

.how-it-works__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 77px;
    width: 50%;
}

.how-it-works__text {
    margin-left: 29px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.how-it-works__description {
    max-width: 306px;
}
/* how-it-works end*/


/* price start*/

.prices {
    background-color: #F8FBFF;;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    border: none !important;
    background-color: inherit !important;
}

.card-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.btn-order_yellow {
    background-color: #FED100;
    border: none;
    height: 60px;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    transition: .4s;
}

.btn-order_yellow:hover {
    background-color: #ffa207;
}

.price {
    margin: 44px 0 50px 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

.card-body__all-prices {
    margin-top: 20px;
    color: black;
    border-bottom: 1px solid black;
    font-weight: 500;
    font-size: 16px;
    line-height: 131.4%;
}

/* price end*/


/* autopark start*/

.autopark__subtitle {
    margin-bottom: 50px;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: none !important;
    margin-bottom: 0 !important;
}

.nav-tabs .nav-link.active {
    border: 1px solid #FED100 !important;
    border-radius: none !important;
}

.nav-tabs .nav-link {
    border: 1px solid #EBEBEB !important;
    
}

.carousel-indicators li {
    width: 10px !important;
    border-radius: 50% !important;
    height: 10px !important;
    background-color: black !important;
    margin-right: 15px !important;
}

.carousel-indicators {
    bottom: -1.5rem !important;
}


/* autopark end*/


/* reviews start*/

.reviews {
    margin-top: 45px;
    min-height: 574px;
    background-color: #FED100;
}

.user-name {
    margin-top: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.stars {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 10px;
}

.star {
    background: url("../img/star.svg") center no-repeat;
    width: 15px;
    height: 15px;
}

.read-more {
    font-weight: 500;
    font-size: 16px;
    line-height: 131.4%;
    border: none;
	background-color: inherit;
	border-bottom: 1px solid black;
}

.all-reviews-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.all-reviews {
    display: inline-block;
    background-color: #FED100;
	border: 1px solid black;
	height: 60px;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}

/* reviews end*/


/* form start*/


.form > p {
    font-size: 15px;
    line-height: 131.4%;
}

.form-control {
    border: none !important;
	border-bottom: 1px solid black !important;
    border-radius: 0% !important;
    margin-bottom: 40px !important;
}

/* form end*/


/* map start*/

.map-background {
    margin-top: 70px;
    background: url("../img/map-big.png") center no-repeat;
    width: 100%;
    min-height: 666px;
}

.address-city {
    margin-top: 46px;
}

.map__email {
    text-decoration: underline;
    color: black;
}

/* map end */


/* footer start*/

.footer {
    background-color: #FED100;
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
}


.social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
}

.social-media__icon {
    margin-right: 31px;
}

.footer__email {
    border-bottom: 1px solid black;
    color: black;
}

.footer-button {
    border: 1px solid black;
}

/* footer end */



/* md-устройства (больше или равно 768px) */
@media (min-width: 768px) {

    .nav-title {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
    }

    .h2-tilte {
        font-size: 30px;
    }

    .jumbotron__title {
        font-size: 70px;
        line-height: 126.9%;
    }

    .jumbotron p {
        margin-top: 20px;
        margin-bottom: 42px;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
    }

    .features {
        display: flex;

    }

    .features__img-wrapper {
        display: flex;
        margin-right: 40px;
    }

    .features__img {
        margin-right: 30px;
    }

    .prices {
        background: #ffffff;
    }

    .card {
        margin-top: 50px;
        border: 1px solid #EBEBEB !important;
        width: 33.3%;
        margin-left: 18px;
        padding: 8vh 2vw;
    }

    .card_2 {
        border: 1px solid #FED100 !important;
    }

    .reviews {
        min-height: 665px;
    }

    .reviews .container {
        display: flex;
        justify-content: center;
    }
    

    .review {
        height: 100%;
    }

    .all-reviews {
        margin-top: 81px;
        width: 250px;
        height: 50px;
    }

    .form-content-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .form-group {
        display: flex;
    }
    
    .form-group input {
        margin-right: 70px;
    }

    .map__adress {
        display: inline-block;
        background-color: #ffffff;
        margin-top: 10vh;
        margin-left: 15vw;
        padding: 40px;
        min-width: 300px;
    }

    .map__address-items {
        list-style: none;
        list-style-image: url("/img/icons/check-yellow.svg");
    }

    .map__address-item {
        margin-top: 19px;
    }

    .map__social-media {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        list-style: none;
    }

    .footer__title  {
        padding: 0;
        text-align: left !important;
    }

    .footer p {
        text-align: left;
        margin-top: 24px;
    }

    .footer .navbar-nav {
        margin-top: 0;
    }

    .footer  .btn-order_yellow {
        margin-top: 0 !important;
    }

    .footer li.nav-item {
        margin-right: 37px;
        width: 207px;
        text-align: left;
        width: 40%;
        margin-left: 68px;
    }

  }

/* md-размер (<=991px) */
@media (max-width: 991px) {
    /* CSS для ширины от 768px до 991px */
    li.nav-item {
        text-align: left;
    }
  }

/* xs-размер (<=575px) */
@media (max-width: 575px) {
    /* CSS для ширины до 575px (включительно) */
    .how-it-works__list-item {
        width: 100%;
        margin-top: 25px;
    }

    .card_2 {
        width: 100%;
    }

    .all-prices-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }
  }